/**styles here**/
.header {
  background: #ffff;
  font-size: 25px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  .span {
    text-align: center;
  }
  .btn {
    float: right;
  }
}
.convert_url {
  padding: 20px;
  .form-signin {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    .btn {
      padding: 10px;
      font-size: 10px;
    }
  }
  .url_entry {
    width: 50%;
  }
}

.dashboard-container {
  margin: 10px;
  background: #ffff;
  height: 80vh;
}
.custom-table {
}
.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50%;
    height: 50%;
  }
}
.my-custom-scrollbar {
  position: relative;
  height: 60vh;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
.loading {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 30px;
}
th,
td {
  text-align: left;
  padding: 8px;
  .btn {
    font-size: 12px;
  }
}
thead {
  color: #ffff;
  font-weight: bold;
  background: linear-gradient(to right, #0062e6, #33aeff);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
